.env
node_modules
build
couchdb_data
opt
var
couchdb_log
persistence
populateDB
media
**couchdb_data
**opt
**var
**couchdb_log
**persistence
**populateDB
**media
/opt/couchdb/data
**/opt/couchdb/data
src/config/**
dist